name: "RollJam App: Build for multiple SDK sources"

on:
  push:
    branches: 
      - main
      - master
    paths:
      - 'rolljam_app/**'
  pull_request:
    paths:
      - 'rolljam_app/**'
  workflow_dispatch:

jobs:
  ufbt-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: dev channel
            sdk-channel: dev
          - name: release channel
            sdk-channel: release
    name: 'ufbt: Build RollJam for ${{ matrix.name }}'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build with ufbt
        uses: flipperdevices/flipperzero-ufbt-action@v0.1
        id: build-app
        with:
          sdk-channel: ${{ matrix.sdk-channel }}
          app-dir: rolljam_app
      - name: Upload app artifacts
        uses: actions/upload-artifact@v4
        with:
          name: rolljam_app-${{ steps.build-app.outputs.suffix }}
          path: ${{ steps.build-app.outputs.fap-artifacts }}
